@keyframes underline-float {
    0% {
        border-bottom: 0.5em solid rgb(230, 188, 104);
    }
    50% {
        border-bottom: 0.5em solid rgba(230, 188, 104, 0.5);
    }
    100% {
        border-bottom: 0.5em solid rgb(230, 188, 104);
    }
}

.boba-underline {
    animation: underline-float 2s linear infinite;
}